In [ ]:
import duckdb
import pandas as pd

duckdb_path = "data/sakila.duckdb"

# Connect once for the rest of the questions
with duckdb.connect(duckdb_path) as conn:
    pass

In [ ]:
# I will be using "with duckdb.connect" through out the remaining questions
with duckdb.connect(duckdb_path) as conn:
    df_long_movies = conn.sql("""
    SELECT title, length
    FROM film
    WHERE length > 180;
    """).df()

df_long_movies

In [ ]:
with duckdb.connect(duckdb_path) as conn:
    df_love = conn.sql("""
    SELECT title, rating, length, description
    FROM film
    WHERE lower(title) LIKE '%love%';
    """).df()

df_love

In [ ]:
with duckdb.connect(duckdb_path) as conn:
    df_stats = conn.sql("""
    SELECT
        MIN(length) AS shortest,
        AVG(length) AS average_length,
        MEDIAN(length) AS median_length,
        MAX(length) AS longest
    FROM film;
    """).df()

df_stats

In [ ]:
with duckdb.connect(duckdb_path) as conn:
    df_expensive = conn.sql("""
    SELECT
        title,
        rental_rate,
        rental_duration,
        rental_rate / rental_duration AS price_per_day
    FROM film
    ORDER BY price_per_day DESC
    LIMIT 10;
    """).df()

df_expensive

In [ ]:
with duckdb.connect(duckdb_path) as conn:
    df_top_actors = conn.sql("""
    SELECT
        a.first_name || '' || a.last_name AS actor,
        COUNT(*) AS film_count
    FROM actor a
    JOIN film_actor fa ON a.actor_id = fa.actor_id
    GROUP BY actor
    ORDER BY film_count DESC
    LIMIT 10;
    """).df()

df_top_actors

In [ ]:
# Here is an example of which movie that does not have a title
with duckdb.connect(duckdb_path) as conn:
    df_q1 = conn.sql("""
    SELECT title
    FROM film
    WHERE description IS NULL or description = '';
    """).df()

df_q1

In [ ]:
# This is an example of the longest movies in each categroy
with duckdb.connect(duckdb_path) as conn:
    df_q2 = conn.sql("""
    SELECT c.name AS category, AVG(f.length) AS avg_length
    FROM category c
    JOIN film_category fc ON c.category_id = fc.category_id
    JOIN film f ON fc.film_id = f.film_id
    GROUP BY category
    ORDER BY avg_length DESC;
    """).df()

df_q2

In [ ]:
# This shows which customers rents most movies
with duckdb.connect(duckdb_path) as conn:
    df_q3 = conn.sql("""
    SELECT customer_id, COUNT(*) AS total_rentals
    FROM rental
    GROUP BY customer_id
    ORDER BY total_rentals DESC
    LIMIT 10;
    """).df()

df_q3